<div class="about-container">
  <div class="about">
    <h1>How to Play</h1>
    <ul>
      <li>Type the word or phrase that the set of emojis correspond to</li>
      <li>
        You win coins for each correct answer. Save up coins to buy hints!
      </li>
      <li>
        Note: There are 3 types of hints. Keep pressing the hint button multiple
        times if you need more help!
        <ul>
          <li>1st hint gives you a word count, and costs <b>1</b> coin</li>
          <li>
            2nd hint gives you the character count and costs
            <b>2</b> coins.
          </li>
          <li>
            3rd hint gives you the first letter of each word and costs
            <b>3</b> coins.
          </li>
        </ul>
      </li>

      <li>You have 3 lives. If you get 3 incorrect answers, you lose!</li>
    </ul>
  </div>
</div>
