#card {
  background-color: #42a5f5;
  width: 100%;
  height: 100%;
  // min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

#header {
  font-family: "Bowlby One SC", cursive;
  // font-size: 6vw;
  font-size: clamp(10px, 6vw, 60px);
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

#white-section {
  margin-top: 1em;
  background-color: white;
  width: 98%;
  height: 50%;
  min-height: 8em;
  border-radius: 1em;
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emoji {
  font-size: 170%;
  text-align: center;
  margin: auto;
}

mat-card-content {
  width: 100%;
  // background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#input {
  width: 80%;
  border-radius: 1em;
  font-size: 3em;
  padding-left: 0.4em;
}

#heart-container {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#heart {
  width: 2em;
  color: red;
  font-size: 3em;
  float: left;
  margin-left: -1em;
  margin-bottom: 1em;
}

#menu-container {
  width: 100%;
  // height: 6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4em;
  margin-bottom: 2em;
  // background-color: red;
  align-items: center;
}

.menu-button {
  width: 20%;
  min-width: 5em;
  padding-right: 2%;
  // margin-bottom: 0.5em;
  display: inline-block;
  border-radius: 30px;
  font-size: clamp(15px, 3vw, 20px);
  font-family: "Lexend", Courier, monospace;
  background-color: #ff3366;
  color: white;
  white-space: nowrap;
  margin-left: 0.5em;
}

.menu-button:hover {
  //text-shadow: 0 0 2em rgba(255,255,255,1);
  color: lightgray;
  border-color: #ffffff;
  cursor: pointer;
}

#help-icon {
  color: white;
  font-size: 2em;
  margin-right: 0.5em;
}

#help-icon:hover {
  //text-shadow: 0 0 2em rgba(255,255,255,1);
  color: lightgray;
  border-color: #ffffff;
  cursor: pointer;
}

.button {
  padding: 20px;
  border-radius: 30px;
  font-size: clamp(0.5em, 3vw, 2em);
  font-family: "Lexend", Courier, monospace;
  font-weight: bold;
  background-color: #ff3366;
  color: white;
  border: 0.2em solid black;
}

.button:hover {
  //text-shadow: 0 0 2em rgba(255,255,255,1);
  color: lightgray;
  border-color: #ffffff;
  cursor: pointer;
}

#feedback {
  padding-top: 1em;
}

.word-count {
  padding-top: 0.25em;
}
.char-line-section {
  text-align: center;
  display: inline;
  font-weight: bold;
  padding-top: 0.25em;
  padding-bottom: 5em;
  text-align: center;
  min-width: 20em;
  padding-left: 2em;
  padding-right: 2em;
  inline-size: 31.25em;
  overflow-wrap: break-word;
}
.char-line {
  // padding: 3px;
  font-size: clamp(30px, 3vw, 35px);
  padding-left: 0.1em;
}

.total-coins {
  font-weight: bold;
  font-size: clamp(30px, 2vw, 50px);
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding-left: 5px;
}
.coin-adder {
  font-size: clamp(30px, 2vw, 50px);
  font-weight: 100;
  color: white;
}
