<!-- <p>Question {{ questionCount + 1 }}</p> -->
<!-- <div *ngFor="let item of easyList">{{ item.question }}</div> -->

<mat-card id="card" *ngIf="lives.length != 0">
  <app-about *ngIf="aboutClicked"></app-about>
  <div id="menu-container">
    <button class="menu-button" routerLink="/levels">🎚️Levels</button>
    <mat-icon (click)="toggleModal()" id="help-icon">help_outline</mat-icon>
  </div>

  <div id="heart-container">
    <div class="total-coins">
      💰{{ totalCoins }}
      <span class="coin-adder"> &nbsp;{{ coinAdder }}</span>
    </div>

    <div *ngFor="let heart of lives">
      <mat-icon id="heart">favorite</mat-icon>
    </div>
  </div>
  <div id="white-section">
    <mat-card-header id="header">
      <div *ngIf="easy">
        <div class="emoji">
          {{ easyList[questionCount].question }}
        </div>
      </div>
      <div *ngIf="hard">
        <div class="emoji">{{ hardList[questionCount].question }}</div>
      </div>
      <div *ngIf="movies">
        <div class="emoji">{{ moviesList[questionCount].question }}</div>
      </div>
      <div *ngIf="bible">
        <div class="emoji">{{ bibleList[questionCount].question }}</div>
      </div>
    </mat-card-header>
  </div>
  <mat-card-content>
    <input
      id="input"
      class="input"
      (keyup.enter)="enter(questionCount)"
      [(ngModel)]="response"
    />
  </mat-card-content>
  <button class="button" id="button" (click)="enter(questionCount)">
    ENTER</button
  ><br />

  <button class="button" (click)="hint(questionCount)">HINT</button>
  <b id="feedback"> {{ feedback }}</b>
  <b class="word-count">{{ wordCountMessage }}</b>
  <div class="char-line-section">
    <span class="char-line" *ngFor="let charLine of charLines"
      >{{ charLine }}&nbsp;</span
    >
  </div>
</mat-card>
<app-game-over *ngIf="lives.length == 0" score="{{ score }}"></app-game-over>
