<button routerLink="/welcome" mode="easy">Home</button> <br />
<button routerLink="/levels" mode="easy">Levels</button>
<p>Question {{ questionCount + 1 }}!</p>
<!-- <div *ngFor="let item of easyList">{{ item.question }}</div> -->
<div *ngIf="easy">
  <div>{{ easyList[questionCount].question }}</div>
</div>
<div *ngIf="hard">
  <div>{{ hardList[questionCount].question }}</div>
</div>
<div *ngIf="movies">
  <div>{{ moviesList[questionCount].question }}</div>
</div>

<input (keyup.enter)="enter(questionCount)" [(ngModel)]="response" />
<button (click)="enter(questionCount)">Next</button>
