<button routerLink="/welcome" mode="easy">Home</button> <br />
<button routerLink="/levels" mode="easy">Levels</button>
<!-- <p>Question {{ questionCount + 1 }}</p> -->
<!-- <div *ngFor="let item of easyList">{{ item.question }}</div> -->
<mat-card id="card">
  <div id="heart-container">
    <div *ngFor="let heart of lives">
      <mat-icon id="heart">favorite</mat-icon>
    </div>
  </div>
  <div id="white-section">
    <mat-card-header id="header">
      <div *ngIf="easy">
        <div>{{ easyList[questionCount].question }}</div>
      </div>
      <div *ngIf="hard">
        <div>{{ hardList[questionCount].question }}</div>
      </div>
      <div *ngIf="movies">
        <div>{{ moviesList[questionCount].question }}</div>
      </div>
    </mat-card-header>
  </div>
  <mat-card-content>
    <input
      id="input"
      (keyup.enter)="enter(questionCount)"
      [(ngModel)]="response"
    />
    <!-- <button id="button" (click)="enter(questionCount)">Next</button> -->
    <!-- {{ wordCount }}
    {{ charCount }}
    {{ feedback }} -->
  </mat-card-content>
</mat-card>
