#container {
  height: auto;
  width: 100%;
  background-color: #42a5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: clamp(30px, 4vw, 120px);
  font-weight: bold;
  text-align: center;
}

p {
  font-size: clamp(20px, 4vw, 80px);
  max-width: 40%;
  text-align: center;
  line-height: 1em;
}

button {
  font-size: clamp(30px, 4vw, 80px);
  background-color: #ff3366;
  border-radius: 30px;
  border-color: transparent;
  padding: 0.2em;
  font-weight: bold;
  margin-bottom: 70px;
}

button:hover {
  color: lightgray;
  border-color: white;
  cursor: pointer;
}
.emojis {
  font-size: 75px;
}

.welcome {
  margin-top: 50px;
}
.rules {
  font-size: clamp(20px, 4vw, 30px);
  width: 100%;
}
