<ion-header>
  <ion-toolbar>
    <ion-title>Question 1</ion-title>
    <button routerLink="/home">Home</button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    What is your favorite Color?
    <ion-card class="correct">
      <ion-card-header>
        <ion-card-title>Option A</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Option B</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Option C</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Option D</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
